<div class = 'comment'>
<h3>
  <strong><%= comment.commenter %></strong>
  replied
</h3>

<p>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
</div>

