/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: 'Roboto', sans-serif;
 }

 .header {
   text-align: center;
 }

 .footer {
   text-align: center;
   color: grey;
 }

 .content {
   width: 800px;
   margin: auto;
   text-align: center;
   min-height: 80%;

 }

 h1 {
   text-align: center;
 }

 a {
  text-decoration: none;
  color: black;
 }

 a:hover {
   text-decoration: underline;
 }

 a:active {
   color: orangered;
 }

 a:visited {
  color: grey;
 }
 body {
   background-color: white;
   height: 100vh;
 }

 .header {
   min-height: 10%;
 }

 .footer {
   background-color: #ededed;
   min-height: 10%;
 }
